.navbar .nav > li:hover> a, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    border-color: #F5C10A;
}
.btn.btn-navbar.collapsed {
    background-color: #F5C10A;
}
.btn.btn-navbar:hover {
    background-color: #F5C10A;
}
.btn.btn-navbar{
    border-color: #F5C10A;
}
.navbar {
        border-bottom: 2px solid #F5C10A;
}





